<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>


<div id="app">
    <label for="inputGroupSelect01">CSS Framework</label>
    <select id="inputGroupSelect01" v-model="type">
        <option value="bootstrap">Bootstrap</option>
        <option value="bulma">Bulma css</option>
        <option value="vuetify">Vuetify</option>
    </select>
    <div v-if="type === 'bootstrap'">
        <img src="../assets/bootstrap.png" alt="" width="200px">
        <p class="card-text">Build responsive, mobile-first projects on the web with the
            world's most popular front-end component library.</p>
    </div>
    <div v-else-if="type === 'bulma'">
        <img src="../assets/bulma.png" alt="" width="160px">
        <p class="card-text text-center">Bulma is a simple, elegant, and modern CSS framework
            that a lot of
            developers prefer over Bootstrap. Personally, I think Bulma has a better design by
            default, and it also feels more light-weight.</p>
    </div>
    <div v-else-if="type === 'vuetify'">
        <img src="../assets/vuetify.png" alt="" width="150px">

        <p class="card-text text-center">Vuetify is a component framework for Vue.js 2. It aims
            to provide clean, semantic and reusable components that make building your
            application a breeze. Vuetify utilizes Google's Material Design design pattern,
            taking cues from other popular frameworks such as Materialize.css, Material Design
            Lite, Semantic UI and Bootstrap 4.</p>
    </div>
    <div v-else>
        <p class="card-text">Select CSS Framework</p>
    </div>
</div>


<script>
    var app = new Vue({
        el: "#app",
        data: {
            type: "",
        }
    });
</script>


</body>

</html>